<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/bootstrap/css/bootstrap.css">
    <script src="__ROOT__/bootstrap/js/bootstrap.js"></script>
    <title>添加题目</title>
</head>
<body>
<div style="margin:30px 450px;">
    <form action="__ROOT__/index/question/update" method="post">
        <div class="form-group">
            <label class="control-label">问题</label>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">选项1</label>
            <input type="text" name="option1" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">选项2</label>
            <input type="text" name="option2" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">选项3</label>
            <input type="text" name="option3" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">选项4</label>
            <input type="text" name="option4" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">选项5</label>
            <input type="text" name="option5" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-success btn-sm form-control" value="修改题目">
        </div>
    </form>
</div>
</body>
</html>