<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/bootstrap/css/bootstrap.css">
    <script src="__ROOT__/bootstrap/js/bootstrap.js"></script>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ROOT__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>列表</title>

    <script type="text/javascript" language="javascript">
        function selectBox(selectType){
            var checkboxis = document.getElementsByName("id[]");
            if(selectType == "reverse"){
                for (var i=0; i<checkboxis.length; i++){
                    //alert(checkboxis[i].checked);
                    checkboxis[i].checked = !checkboxis[i].checked;
                }
            }
            else if(selectType == "all")
            {
                for (var i=0; i<checkboxis.length; i++){
                    //alert(checkboxis[i].checked);
                    checkboxis[i].checked = true;
                }
            }
        }
    </script>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学生管理 <span class="c-gray en">&gt;</span> 学生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="__ROOT__/index/Student/index" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form method="post" action="__ROOT__/index/student/lookup">
        <input type="text" name="name"  placeholder="学生姓名" style="width:250px" class="input-text">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜学生</button>
            </form>
    </div>


            <div class="page-container">
                <h3>此页共 {$count} 条数据</h3>
               <!-- <a href="__ROOT__/index/Student/create" class="btn btn-info btn-xs">添加数据</a>-->
                <!--<form action="__ROOT__/index/Student/datadel" method="post">-->

                <div class="cl pd-5 bg-1 bk-gray mt-20">
                    <span class="l">
                    <a class="btn btn-primary radius" data-title="添加学生" data-href="__ROOT__/index/Student/create" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加学生</a>&nbsp;&nbsp;&nbsp;</span>
                    <form id="form2" name="form2" method="post" action="data_del" onsubmit="return checkF(this)">
                            <input type="submit" name="allDel" class="btn btn-danger radius"style=" border:none;" value="批量删除"/>

                    <span class="r">共有数据：<strong>{$sum}</strong> 条</span>
                <table class="table table-border table-bordered table-bg">
                    <tr class="row">
                        <td width="25"></td>
                        <td>ID</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>岁数</td>
                        <td>教师</td>
                        <td>编辑</td>
                    </tr>
                    <tbody>
                        {volist name="list" id="student"}
                    <tr class="row">
                        <td><input type="checkbox" value="{$student['id']}" name="id[]"></td>
                        <td>{$student['id']}</td>
                        <td>{$student->name}</td>
                        <td>{$student['sex']}</td>
                        <td>{$student['age']}</td>
                        <td>{$student->teacher->name}</td>
                        <td><a href="{:url('student/delete',['id'=>$student->id])}" class="btn btn-default btn-xs">删除</a>
                            <a href="{:url('student/edit',['id'=>$student->id])}" class="btn btn-default btn-xs">修改</a></td>
                    </tr>
                    {/volist}
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
</div>
<script type="text/javascript" src="__ROOT__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="__ROOT__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ROOT__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ROOT__/lib/laypage/1.2/laypage.js"></script>
<div style="text-align:center">{$list->render()}</div>
    </div>
</body>
</html>
